<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acceuil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bienvenue !</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Accueil</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Concerts <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Informations</a></li>
          <li><a href="#">Ajouter</a></li>
          <li><a href="#">Modifier/Annuler</a></li>
        </ul>
      </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Oeuvres <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Informations</a></li>
          <li><a href="#">Ajouter</a></li>
          <li><a href="#">Modifier/Annuler</a></li>
        </ul>
      </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Chef d'orchestre <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Informations</a></li>
          <li><a href="#">Ajouter</a></li>
          <li><a href="#">Modifier/Annuler</a></li>
        </ul>
      </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Solistes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Informations</a></li>
          <li><a href="#">Ajouter</a></li>
          <li><a href="#">Modifier/Annuler</a></li>
        </ul>
      </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lieux <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Informations</a></li>
          <li><a href="#">Ajouter</a></li>
          <li><a href="#">Modifier/Annuler</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
  
<div class="container" >
  <h3>Le classique débarque à Montpellier ! </h3>
  <p>Venez écoutez les plus grands classiques dans les lieux mythiques de la plus belle ville du monde</p>
</div>

</body>
</html>
